.header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    border: 1px solid #F1F3F4;
}

.menu {
    color: #5f6368;
    width: 5%;
    padding-left: 25px;
    margin-top: 16px;
    margin-right: 25px;
}

#bar {
    width: 25px;
    background-color: black;
    margin-top: 7px;
    border: 2px solid #5f6368;
}

.leftMenu {
    display: flex;
    width: 18%;
}

.rightMenu {
    display: flex;
    width: 20%;
}

#keep {
    margin-left: 20px;
    ;
}

.search-start {
    overflow: hidden;
    width: 900px;
    display: flex;
    margin: 10px;
    background-color: #F1F3F4;
    border-radius: 10px;
}

.search-button {
    padding: 5px;
    background: transparent;
    border: none;
    margin-left: 25px;
    margin-right: 25px;
}

.search-input {
    width: 700px;
    padding-top: 10px;
    margin-top: 15px;
    margin-left: 10px;
    text-align: center;
    background: transparent;
    border: transparent;
    font: normal 16px Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

.close-search {
    margin-left: 5%;
    background: transparent;
    border: none;
}

.BookTitle {
    font-size: x-large;
    font-weight: bold;
    /* border: 2px solid red; */
    margin-top: 2.5%;
    margin-left: 15%;
    margin-bottom: 2.5%;
}

.bookTotal {
    font-size: medium;
    color: gray;
    font-weight: lighter;
}

.cartButton {
    display: block;
    position: absolute;
    width: 874px;
    height: 778px;
}

.bookContainer {
    border: 2px solid red;
    top: 146px;
    left: 172px;
    width: 233px;
    height: 25%;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 2px 2px 0px 0px;
    opacity: 1;
}

.bookContainer:hover {
    transition: ease-out;
    box-shadow: 0 0 10px rgb(134, 131, 131);
}

.main-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 20vh;
    width: 100vw;
    top: -10px;
    /* border: 1px solid red; */
    margin-left: 0px;
}

*:focus {
    outline: none;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    /* height:5%; */
    height: 60px;
    /* border:1px solid blue; */
    background: #A03037 0% 0% no-repeat padding-box;
}

.bookStoreLeft {
    /* border: 2px solid white; */
    width: 10%;
    display: flex;
    margin-left: 13%;
}

.bookIcon {
    margin-left: 10%;
    width: 20%;
    height: 35%;
    opacity: 1;
    /* border: 2px solid yellow; */
}

.BOOKSTORE {
    margin-left: 10%;
    width: 60%;
    height: 33%;
    text-align: left;
    font: normal normal normal 20px/26px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    /* border: 2px solid blue; */
}

.search-start {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 55%;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    margin-left: 2%;
    /* border:2px solid black; */
}

#search-button {
    padding-top: 10px;
    /* background: #9D9D9D 0% 0% no-repeat padding-box; */
    opacity: 1;
    border: 2px solid blue;
    margin-left: -100%;
}

.search-bar-container {
    display: flex;
    align-items: center;
    /* border: 1px solid blue; */
    height: 100%;
    width: 96%;
    margin-left: -7%;
}

.searchInput1 {
    width: 98.5%;
    height: 60%;
    border: 1px solid transparent;
    /* font: normal normal normal 12px/16px Roboto; */
    font-size: 20px;
    letter-spacing: 0px;
    color: #9D9D9D;
    opacity: 1;
}

.user {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 7%;
    margin-left: 20%;
    /* margin-right:2%; */
    /* border: 1px solid black; */
}

.userIcon {
    color: white;
    /* background: #FFFFFF 0% 0% no-repeat padding-box; */
    opacity: 1;
    top: 100px;
    margin-top: 20px;
}

.carticon {
    opacity: 1
}

.userIcon,
.userName {
    height: 50%;
    width: 100%;
}

.userIcon {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.userName {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    text-align: left;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0.45px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: -10px;
    font-size: 13px;
}

.cart {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 7%;
    margin-right: 13%;
    /* border: 1px solid black; */
}

.cartIcon,
.cartName {
    height: 50%;
    width: 100%;
}

.cartIcon {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    /* background: #FFFFFF 0% 0% no-repeat padding-box; */
    opacity: 1;
    margin-top: 20px;
   
}

.cartName {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    text-align: left;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0.45px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: -5px;
    font-size: 13px;
}

.bookContainer {
    display: flex;
    flex-direction: column;
    height: 275px;
    width: 235px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E2E2E2;
    border-radius: 3px;
    opacity: 1;
    margin-top: 26px;
    overflow: hidden;
    /* margin-left: 26px; */
    /* border: 2px solid red; */
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 172px;
    width: 233px;
    /* border: 2px solid black; */
    /* margin-top: 22px; */
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 2px 2px 0px 0px;
    opacity: 1;
}

.book {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 135px;
    border: 1px solid red;

}


.bookName {
    display: flex;
    width: 230px;
    height: 19px;
    /* border: 1px solid red; */
    margin-left: 20px;
    text-align: left;
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
}

.author {
    display: flex;
    height: 13px;
    width: 130px;
    margin-left: 20px;
    text-align: left;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}

.rating {
    display: flex;
    flex-direction: row;
    height: 16px;
    width: 130px;
    margin-left: 20px;
    margin-top: 5px;
}

.star {
    background: #388E3C 0% 0% no-repeat padding-box;
    border-radius: 1px;
    opacity: 1;
    color: white;
    padding-left: 2px;
    padding-bottom: 2px;
    height: 15px;
    font-size: small;
}

.starRating {
    margin-left: 5px;
    text-align: left;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}

.price {
    display: flex;
    flex-direction: row;
    height: 16px;
    width: 130px;
    margin-left: 20px;
    margin-top: 5px;
}

.originalPrice {
    margin-left: 5px;
    text-align: left;
    text-decoration: line-through;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}


#bookdiv{
   
    display: flex;
    flex-flow: row wrap;
    margin-top: 5vh;
    margin-left: 200px;
    
    
}




